body {
    margin: 0;
    * {
        display: flex;
        box-sizing: border-box;
        margin: 0;
    }
}
.corps {
    @include position;
    margin: 0;
    width: 100%;
    opacity: 0;
    background-color: white;
    > * {
        width: 100%;
        padding: 15px;
    }
}

a {
    text-decoration: none;
}