@mixin shadow ($color: $color-shadow) {
    box-shadow: 0px 0px 15px $color;
}

@mixin position ($dir: column, $align: center, $justify: center) {
    flex-direction: $dir;
    align-items: $align;
    justify-content: $justify;
}

@mixin text-center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

@mixin wh ($w: 100%, $h: auto) {
    width: $w;
    height: $h;
}

@mixin scale-up {
    @include tablette {
        transform: scale($scale-tab);
    }
    @include desktop {
        transform: scale($scale-tab);
    }
    
}

/*  BOUCLES */
@mixin animenu ($positions) {
    @each $list, $pos in $positions {
        .#{$list}{
            opacity: 0;
            animation: appear map-get($pos, duration) map-get($pos, timer) forwards;
            animation: slide map-get($pos, duration) map-get($pos, timer) forwards;
        }
    }
}

@mixin padding-footer ($p-etc) {
    @each $list, $pos in $p-etc {
        .#{$list} {
        padding-left: map-get($pos, pdg);
        }
    }
}

/*  MEDIA QUERIES  */
@mixin tablette {
    @media (min-width: map-get($bp, tel)) and (max-width: map-get($bp, tab)) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: map-get($bp, tab)) {
        @content;
    }
}