$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$background-color-1: #E5E5E5;
$background-color-2: #f8f8f8;
$background-color-3: #404040;
$radius-card: 15px;
$center: center;