$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$background-color-1: #f5f5f5;
$background-color-2: rgb(251, 251, 251);
$background-color-3: #404040;
$color-shadow: rgb(199, 199, 199);
$radius-card: 17px;
$center: center;
$scale-tab: 1.2;
$padding-li: 20px;

/*  MAPS   */

$bp: (tel: 768px, tab: 993px);

$animation-duration: (dt:1s, dp: 400ms);

$animation-timer: (
    t0: 1s, t01:1.4s, t02:1.5s, t03:1.6s, t04:1.7s,
    t1: 2s, t11:2.4s, t12:2.5s, t13:2.6s, t14:2.7s,
    t2: 3s, t21:3.4s, t22:3.5s, t23:3.6s, t24:3.7s
);

$position: (
    he: (duration: map-get($animation-duration, dt), timer: map-get($animation-timer, t0)),
    a01: (duration: map-get($animation-duration, dp), timer: map-get($animation-timer, t01)),
    a02: (duration: map-get($animation-duration, dp), timer: map-get($animation-timer, t02)),
    a03: (duration: map-get($animation-duration, dp), timer: map-get($animation-timer, t03)),
    a04: (duration: map-get($animation-duration, dp), timer: map-get($animation-timer, t04)),
    hp: (duration: map-get($animation-duration, dt), timer: map-get($animation-timer, t1)),
    a11: (duration: map-get($animation-duration, dp), timer: map-get($animation-timer, t11)),
    a12: (duration: map-get($animation-duration, dp), timer: map-get($animation-timer, t12)),
    a13: (duration: map-get($animation-duration, dp), timer: map-get($animation-timer, t13)),
    a14: (duration: map-get($animation-duration, dp), timer: map-get($animation-timer, t14)),
    hd: (duration: map-get($animation-duration, dt), timer: map-get($animation-timer, t2)),
    a21: (duration: map-get($animation-duration, dp), timer: map-get($animation-timer, t21)),
    a22: (duration: map-get($animation-duration, dp), timer: map-get($animation-timer, t22)),
    a23: (duration: map-get($animation-duration, dp), timer: map-get($animation-timer, t22)),
    a24: (duration: map-get($animation-duration, dp), timer: map-get($animation-timer, t24)),
);
