.btn {
    @include wh (210px, 50px);
    @include text-center;
    border-radius: 25px;
    border: none;
    background: linear-gradient($color-secondary, $color-primary);
    align-self: center;
    margin: 20px;
}
