.bandeau {
    background-color: $background-color-1;
    height: 50px;
    justify-content: center;
    gap: 3%;
    @include tablette {
        justify-content: start;
        gap: 5%;
    }
    i {
        width: 1.5em;
        margin-left: 15px;
        align-self: baseline;
        @include scale-up;
    }
}

.explorer {
    background-color: $background-color-2;
    padding: 35px 25px 50px 25px;
    gap: 20px;
    @include position;
    text-align: center;
}

.fonctionnement {
    @include position;
    gap: 20px;
    padding-bottom: 80px;
    @include tablette {
        position: relative;
        flex-direction: row;
        width: 100%;
        padding-bottom: 10px;
        padding-top: 80px;
    }
    h2 {
        align-self: flex-start;
        @include tablette {
            position: absolute;
            top: 25px;
            left: 25px;
        }    
    }
    div {
        @include wh (90%, 70px);
        border-radius: 20px;
        background-color: $background-color-2;
        justify-content: center;
        position: relative;
        @include shadow;
        @include desktop {
            width: 50%;
        }
        .nb {
            position: absolute;
            left: -13px;
            @include wh (30px, 30px);
            border-radius: 15px;
            background-color: $color-primary;
            align-self: center;
            justify-content: center;
            color: $background-color-2;
        }
        i {
            align-self: center;
            position: absolute;
            left: 12%;
            transform: scale(1.4);
            @include tablette {
                display: none;
            }
        }
        p {
            align-items: center;
        }
    }
}

.restaurants {
    background-color: $background-color-2;
    padding-top: 70px;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    @include tablette {
        gap: 50px;
        padding-bottom: 30px;
    }
    h2 {
        position: absolute;
        left: 15px;
        top: 15px;
    }
    a {
        color: black;
        @include tablette {
            width: 40%;
        }  
        @include desktop {
            margin: 30px;
        }      
    figure {
        position: relative;
        background-color: white;
        overflow: hidden;
        border-radius: $radius-card;
        flex-direction: column;
        @include shadow;
        @include tablette {
            width: 100%;
        }    
        }
        img {
            width: 380px;
            height: 200px;
            object-fit: cover;
            @include tablette {
                width: 100%;
            }        
        }
        .new {
            position: absolute;
            top: 10px;
            right: 10px;
            @include wh (80px, 30px);
            border-radius: 2px;
            background-color: $color-tertiary;
            @include text-center;
            color: darken($color-tertiary, 40%);
            
        }
        figcaption {
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            padding: 3%;
            height: 80px;
            position: relative;
            .fa-heart {
                position: absolute;
                right: 30px;
                top: 30px;
                font-size: 1.4em;
                color: black;
                cursor: pointer;
            }
        }
    }
}