header i {
    transform: scale(1.4);
    position: absolute;
    left: 10%;
    align-self: center;
}

.fond {
    padding: 0;
    margin-bottom: -50px;
    @include tablette {
        margin-bottom: -300px;
    }
    @include desktop {
        height: 300px;
        object-fit: cover;
    }
}

hr {
    @include wh (50px, 3px);
    background-color: $color-tertiary;
    border: none;
}

.menu {
    flex-direction: column;
    background-color: $background-color-1;
    border-top-left-radius: 50px; 
    border-top-right-radius: 50px;
    gap: 20px;
    position: relative;
    @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        padding: 40px 80px;
    }
    * {
        @include position ($align: flex-start);
    }
    h1 {
        @include position ($dir: row, $justify: space-between);
        align-self: center;
        width: 100%;
        padding: 18px;
    }
    &__section {
        gap: 10px;
        @include tablette {
            margin: 20px;
            width: 90%;
        }
        @include desktop {
            width: 45%;
        }
        &__plat {
            @include wh ($h: 70px);
            @include shadow;
            background-color: $background-color-2;
            border-radius: $radius-card;
            padding: 12px;
            position: relative;
            justify-content: space-between;
            overflow: hidden;
            @include tablette {
                width: 90%;
                align-self: flex-end;
            }
            h5, p {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 85%;
                transition: all 400ms;
                display: inline;
                float: left;
                @include desktop {
                    width: 85%;
                }
                }
            strong {
                position: absolute;
                right: 18px;
                bottom: 15px;
                transition: all 400ms;
                @include tablette {
                    right: 50px;
                }
            }
            .check {
                position: absolute;
                right: 0;
                top: 0;
                @include wh (0%, 100%);  
                background-color: $color-tertiary;
                overflow: hidden;
                transition: all 400ms;
                i {
                    align-self: center;
                    color: $background-color-2;
                }
            }
        }
    }
}