@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*  VARIABLES   */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$background-color-1: #E5E5E5;
$background-color-2: #f8f8f8;
$background-color-3: #404040;
$radius-card: 50px;

/*  MIXINS  */

@mixin shadow {
    box-shadow: 0px 0px 15px $background-color-1;
}

@mixin radius-card {
    border-radius: $radius-card;
}

@mixin stick-left {
    align-self: flex-start;
}

title {
    display: none;
}

* {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: roboto;
    font-size: x-large;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
}
body > * {
    width: 100%;
    padding: 100px 6% 100px 6%;
}
h2 {
    font-size: 3em;
    align-self: flex-start;
}

a {
    text-decoration: none;
        &:visited {
        color: black;
    }
}

.center {
    align-items: center;
    text-align: center;
}
/*  HEADER  */

header {
    padding: 30px;
}

/*  BANDEAU */

.bandeau {
    flex-direction: row;
    background-color: $background-color-1;
    height: 130px;
    padding: 0;
    svg {
        padding-left: 27%;
        padding-right: 2%;
    }
    p {
        font-size: 1.7em;
    }
}

/*  EXPLORER    */

.explorer {
    background-color: $background-color-2;
    height: 700px;
    justify-content: space-between;
    h2 {
        padding: 2% 10% 0 10%;
    }
    p {
        font-size: 2em;
    }
    button {
        width: 600px;
        height: 120px;
        border: none;
        border-radius: 60px;
        font-size: 1.7em;
        padding-top: 35px;
        @include shadow;
        color: $background-color-2;
        background-color: $color-secondary;
        
    }
}

/*  FONCTIONNEMENT  */

.fonctionnement {
    height: 1200px;
    gap:60px;
    div {
        position: relative;
        justify-content: space-evenly;
        flex-direction: row;
        height: 180px;
        width: 800px;
        padding-right: 100px;
        background-color: $background-color-2;
        border-radius: 45px;
        @include shadow;
        p {
            font-size: 1.7em;
            font-weight: bold;
        }    
        .numero {
            position: absolute;
            left: -25px;
            height: 55px;
            width: 55px;
            border-radius: 55px;
            background-color: $color-primary;
            color: white;
            font-weight: normal;
        }
    }
}

/*  RESTAURANTS */

.restaurants {
    background-color: $background-color-2;
    gap: 45px;
}
.card {
    height: 650px;
    width: 100%;
    background-color: white;
    @include radius-card;
    @include shadow;
    overflow: hidden;
    position: relative;
    * { 
        align-items: flex-start;
    }    
    &__image {
        width: 860px;
        height: 450px;
        position: relative;
        overflow: hidden;
        p {
            position: absolute;
            top: 50px;
            right: 50px;
            background-color: $color-tertiary;
            font-size: 1.7em;
            font-weight: bold;
            width: 200px;
            height: 80px;
            border-radius: 5px;
            padding: 15px;
            color: darken($color: $color-tertiary, $amount: 30%);
        }
        img {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__corps {
        height: 200px;
        justify-content: space-between;
        padding: 40px;
    }
    h3 {
        font-size: 1.8em;
    }
    p {
        font-size: 1.6em;
    }
    svg {
        position: absolute;
        bottom: 80px;
        right: 60px;
        &:hover{
            color: $color-secondary;
        }
    }
}

/*  FOOTER  */

footer {
    height: 450px;
    background-color: $background-color-3;
    color: white;
    align-items: flex-start;
    padding: 50px;
    ul {
        align-items: flex-start;
        svg {
            padding-right: 25px;
        }
        li {
            padding: 15px 0px 10px 0px;
            flex-direction: row;
            font-size: 1.5em;
        }
        a {
            text-decoration: none;
            font-size: 1em;
            color: white;
        }
    }
}