@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

* {
  display: flex;
  box-sizing: border-box;
  margin: 0;
}

body {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}
body > * {
  width: 100%;
  padding: 15px;
}

a {
  text-decoration: none;
}

.row {
  flex-direction: row;
}

.bandeau {
  background-color: #E5E5E5;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 3%;
}
.bandeau i {
  width: 1.5em;
  align-self: baseline;
}

.explorer {
  background-color: #f8f8f8;
  padding: 35px 25px 50px 25px;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.explorer h2 {
  font-size: 1.8em;
  margin: 10px;
}
.explorer p {
  font-size: 1.2em;
}
.explorer button {
  height: 50px;
  width: 250px;
  border: none;
  border-radius: 50px;
  background-color: #9356DC;
  margin: 5px;
  align-items: center;
  justify-content: center;
  color: #f8f8f8;
  font-size: 1.1em;
}

.fonctionnement {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding-bottom: 80px;
}
.fonctionnement h2 {
  align-self: flex-start;
}
.fonctionnement div {
  width: 90%;
  height: 70px;
  border-radius: 20px;
  background-color: #f8f8f8;
  justify-content: center;
  position: relative;
  box-shadow: 0px 0px 15px #E5E5E5;
}
.fonctionnement div .nb {
  position: absolute;
  left: -13px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #9356DC;
  align-self: center;
  justify-content: center;
  color: #f8f8f8;
}
.fonctionnement div i {
  align-self: center;
  position: absolute;
  left: 12%;
  transform: scale(1.4);
}
.fonctionnement div p {
  font-weight: 550;
  align-items: center;
}

.restaurants {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: #f8f8f8;
  padding-top: 50px;
  gap: 30px;
}
.restaurants h2 {
  align-self: flex-start;
}
.restaurants figure {
  width: 380px;
  height: 280px;
  position: relative;
  background-color: white;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 0px 15px #E5E5E5;
}
.restaurants figure a {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}
.restaurants figure img {
  width: 380px;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
}
.restaurants figure .new {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  background-color: #99E2D0;
  align-items: center;
  justify-content: center;
  color: #278870;
}
.restaurants figure figcaption {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  padding: 3%;
  width: 100%;
  height: 80px;
  position: relative;
}
.restaurants figure figcaption i {
  position: absolute;
  right: 30px;
  top: 30px;
  transform: scale(1.5);
}

header {
  padding: 15px;
  justify-content: center;
}

footer {
  background-color: #424242;
  width: 100%;
  height: 200px;
  padding: 30px 0 0 30px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}
footer ul {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  padding: 0;
}
footer ul li {
  padding-bottom: 10px;
}
footer ul a {
  color: #f8f8f8;
}
footer ul a i {
  padding-right: 10px;
  width: 30px;
}

/*# sourceMappingURL=style.css.map */
